<footer class="footer ucg-icons__newPackage">
  <div class="footer__wrap container">
    <div class="footer__upper">
      <div
        data-sly-resource="${ 'footermainlinks' @ resourceType='sam-academy/components/unicredit/footermainlinks' }"
        data-sly-unwrap="${WCMMODE.DISABLED}"
      ></div>

      <div
        data-sly-resource="${ 'footerlastlinks' @ resourceType='sam-academy/components/unicredit/footerlastlinks' }"
        data-sly-unwrap="${WCMMODE.DISABLED}"
      ></div>
    </div>
    <div class="footer__bottom">
      <div class="footer__col">
        <div
          data-sly-resource="${ 'footerlogo' @ resourceType='sam-academy/components/unicredit/footerlogo' }"
          data-sly-unwrap="${WCMMODE.DISABLED}"
        ></div>
        <div
          data-sly-resource="${ 'copyright' @ resourceType='sam-academy/components/unicredit/copyright' }"
          data-sly-unwrap="${WCMMODE.DISABLED}"
        ></div>
      </div>
      <div class="footer__col">
        <div
          data-sly-resource="${ 'socialicons' @ resourceType='sam-academy/components/unicredit/socialicons' }"
          data-sly-unwrap="${WCMMODE.DISABLED}"
        ></div>

        <div
          data-sly-resource="${ 'footerutils' @ resourceType='sam-academy/components/unicredit/footerutils' }"
          data-sly-unwrap="${WCMMODE.DISABLED}"
        ></div>
      </div>
    </div>
  </div>
</footer>
