<header class="header ucg-icons__newPackage">
  <nav class="navbar container-fixed">
    <div class="navbar__zero-level">
      <a class="navbar__logo" href="#">
        <img
          src="https://www.unicreditgroup.eu/etc/designs/unicreditgroupn/img/static/logoHiRes.png"
          alt="unicredit-logo"
        />
      </a>
      <div
        data-sly-resource="${ 'topnav' @ resourceType='sam-academy/components/unicredit/topnav' }"
        data-sly-unwrap="${WCMMODE.DISABLED}"
      ></div>
      <a class="navbar__entry-point" href="#">
        <div class="icon icon-online-Banking_A"></div>
        <div class="entry-point__text text--label">ONLINE BANKING</div>
      </a>
    </div>

    <div class="navbar__hamburger">
      <div class="navbar__first-level">
        <div class="navbar__back text--label">
          <div class="icon icon-back"></div>
          <span>BACK</span>
        </div>
        <div class="first-level__items">
          <sly
            data-sly-resource="${ 'mainnav' @ resourceType='sam-academy/components/unicredit/mainnav' }"
          ></sly>
        </div>

        <div class="navbar__languages">
          <div class="languages__selector">
            <p class="selector__text text--label">ITA</p>
            <span class="icon icon-down"></span>
            <div class="selector__items">
              <a
                class="selector__item selector__item--active text--label"
                data-lang="ITA"
                data-lang-dk="ITALIANO"
                data-lang-m="IT"
                href="#"
                >ITALIANO</a
              >
              <a
                class="selector__item text--label"
                data-lang="ENG"
                href="#"
                data-lang-dk="ENGLISH"
                data-lang-m="EN"
                >ENGLISH</a
              >
              <a
                class="selector__item selector__item--disabled text--label"
                data-lang="DE"
                data-lang-dk="DEUTSCHE"
                data-lang-m="DE"
                href="#"
                >DEUTSCHE</a
              >
            </div>
          </div>
        </div>
        <div class="navbar__second-level">
          <sly
            data-sly-resource="${ 'hiddennav' @ resourceType='sam-academy/components/unicredit/hiddennav' }"
          ></sly>
        </div>
      </div>
    </div>
  </nav>
  <div class="hamburger">
    <div class="icon"></div>
  </div>
</header>
